@import "tailwindcss";

@layer components{
 .nav{
  @apply text-green-400 font-bold text-2xl border border-slate-200 px-4 rounded-xl hover:bg-amber-400 hover:text-white cursor-pointer
 }
}

.app{
  color: red;
  font-family: sans-serif;
}