@import "tailwindcss";
@layer components{
 .login{
  @apply rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white 
  
 }
 .register{
  @apply rounded-md bg-blue-600 px-5 py-2.5 text-sm font-medium text-white shadow
 }
 .nav{
    @apply  transition hover:text-gray-500/75
 }
}
    @keyframes float {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-15px); }
    }
    @keyframes glitch-1 {
      0% { transform: translate(0); }
      20% { transform: translate(-5px, 5px); }
      40% { transform: translate(-5px, -5px); }
      60% { transform: translate(5px, 5px); }
      80% { transform: translate(5px, -5px); }
      100% { transform: translate(0); }
    }
    @keyframes glitch-2 {
      0% { transform: translate(0); }
      25% { transform: translate(5px, -5px); }
      50% { transform: translate(-5px, 5px); }
      75% { transform: translate(5px, 5px); }
      100% { transform: translate(0); }
    }
    .animate-float {
      animation: float 3s ease-in-out infinite;
    }
    .animate-glitch-1 {
      animation: glitch-1 2.5s infinite;
    }
    .animate-glitch-2 {
      animation: glitch-2 3s infinite;
    }