@import "tailwindcss";
@layer components{
 .login{
  @apply rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white 
  
 }
 .register{
  @apply rounded-md bg-blue-600 px-5 py-2.5 text-sm font-medium text-white shadow
 }
 .nav{
    @apply  transition hover:text-gray-500/75
 }
}